@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .about-item .top {
      padding: 50px 16px 35px;
      margin-bottom: 30px;
    }

    .h2-subtitle {
      max-width: 394px;
    }
    .section_5 .h2-title {
      br {
        display: none;
      }
    }
  }
}